*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*CabeçaLho */
header{
    background-color: black;
    color: aliceblue;
    padding: 15px;
    text-align: center;
    height: 180px;
    justify-content: space-between;
    display: flex;


}
.btn2{
background-color:blue; 
border: 1px solid green;  
padding: 25px 10px; 
cursor: pointer; 
float: right;
margin: 20px;
display: flex;
color: aliceblue;

}
.btn2 a{
    color: aliceblue;
}  
.botoes{
    margin: 10px;
    padding: 15px;
    
    
}

.caixaLink{
    background-color: black;
    margin-top: 5px;
    height: 50px;
    display: flex;
    justify-content: space-around;
   
    

}
.link {
    
    text-transform: uppercase;
    margin: 5px; 
    padding: 10px;
      
}
.link a{
    color: #EEE;
    margin: 40px;
    padding: 5px;
    
    
   
}
.produtobanner{
    background-color: #0f642f;
    margin: 50px;
    display: flex;
    height: 400px;
    padding: 50px;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
    
     
}
#img-1{
    background-image: url(../img/.jpg);
    
}



/*conteudo */


.container{
    background-color: #EEE;
    min-height: 60vh;
    padding: 50px;

}
.produtoConteiner{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    

}
.card{
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
    
}
.produtoImg{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    
}
#banner{

    background-image: url(../img/banner.jpeg);
    background-repeat: no-repeat;


}
#img-1{
    background-image: url(../img/1.jpg);

}
#img-2{
    background-image: url(../img/2.jpg);
    
}
#img-3{
    background-image: url(../img/3.jpg);
    
}
#img-4{
    background-image: url(../img/4.jpg);
    
}
#img-5{
    background-image: url(../img/5.jpg);
    
}
#img-6{
    background-image: url(../img/6.jpg);
    
}
.btn{
    background-color:blue; 
    border: 1px solid green;  
    color: white; 
    padding: 20px; 
    cursor: pointer; 
    float: center;
    margin: 80px;
    display: flex;
    
    } 
h3{
    margin-bottom: 10px;
    color: #0f642f;
    border-left: blue;
    padding-left: 7px;
    font-size: 24px;
}
.bold{
    font-weight: bold;

}

/*rodape */
footer{
    background-color: black;
    color: #FFF;
    border-top: 3px solid black;
    text-align: center;
    padding: 50px;
    
   
    
   

}
                             /*TELA DE LOGIN 

.formulario{
    background-color: #0f642f;
   
    margin-top: 5px;
    height: 50px;
    display: flex;
    justify-content: space-around;
   
    

}                            
*/


    
