*{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
header{
    background-color: black;
    height: 170px;   
}

.caixaLink{
    background-color: black;
    margin-top: 5px;
    height: 100px;
    text-transform: uppercase;
    text-decoration-color: aliceblue;
    text-align: center ;
                 
}

.child{
    color: white;
}

   



