*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-grid{
    background-color: #1E1C21;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;


}

header {
    background-color: #1E1C21;
    
    height: 80px;
    
}

.menu a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    font-family: 'roboto';



}
