<header>
  <a href="./index.html">
  <img src="../assets/img/logo.png" alt="logo do site" id="logo" >
  </a>
  <div class="botoes">
  <button class="btn2" ><a href="./pages/contato.html"> Fale Conosco</a></button> 
  <button class="btn2" ><a href="./pages/login.html" >Faça seu LOGIN</a></button> 
  </div>
  
</header>

<div class="caixaLink"><!--caixa preta 2-->       
  <div class="link">
      <a href="" >PLAYSTATIOn</a>
      <a href="" >XBOX</a>
      <a href="" >nintendo</a>
      <a href="" >CLASSICOS</a>                          
  </div> 
</div>

<div class="produtobanner" id="banner" >
 
</div>    
  



<!--grid de produtos-->

<main class="container">
  <section class="produtoConteiner">
      <div class="card">
          <div class="produtoImg" id="img-1"></div>
              <h3>Nome Do produto</h3>
              <p>Este produto é muito Bom</p>
              <p>R$ <span class="bold">129,99</span></p>
              <a href="#" class="btn">Comprar</a>
          
      </div>

      <div class="card">
          <div class="produtoImg" id="img-2"></div>
              <h3>Nome Do produto 2</h3>
              <p>Este produto é muito Bom</p>
              <p>R$ <span class="bold">129,99</span></p>
              <a href="#" class="btn">Comprar</a>
          
      </div>

      <div class="card">
          <div class="produtoImg" id="img-3"> </div>
              <h3>Nome Do produto 3</h3>
              <p>Este produto é muito Bom</p>
              <p>R$ <span class="bold">129,99</span></p>
              <a href="#" class="btn">Comprar</a>
         
      </div>

      <div class="card">
          <div class="produtoImg" id="img-4"></div>
              <h3>Nome Do produto 4</h3>
              <p>Este produto é muito Bom</p>
              <p>R$ <span class="bold">129,99</span></p>
              <a href="#" class="btn">Comprar</a>
          
      </div>

      <div class="card">
          <div class="produtoImg" id="img-5"></div>
              <h3>Nome Do produto 5</h3>
              <p>Este produto é muito Bom</p>
              <p>R$ <span class="bold">129,99</span></p>
              <a href="#" class="btn">Comprar</a>
          
      </div>

      <div class="card">
          <div class="produtoImg" id="img-6"></div>
              <h3>Nome Do produto 6</h3>
              <p>Este produto é muito Bom</p>
              <p>R$ <span class="bold">129,99</span></p>
              <a href="#" class="btn">Comprar</a>
          
      </div>



  </section>
</main>

<!--rodapé-->
<footer>
  <p>
      <span class="bold">André Lessa</span>
      &copy;2022
  </p>
</footer>

<router-outlet></router-outlet>
